{% load static %}

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'AplikaceUkol/css/style.css' %}">
    <title>{% block title %}Seznam automobilů{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'AplikaceUkol:category_detail' category.pk %}">{{ category.name }}</a>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% if cars %}
            <ul>
                {% for car in cars %}
                    <li><a href="/AplikaceUkol/cars/{{ car.pk }}">{{ car.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No cars available.</p>
        {% endif %}
        {% endblock %}
    </main>
</body>
</html>