{% extends "AplikaceUkol/base.html" %}

{% block title %}{{ engine.name }}{% endblock %}

{% block content %}
<h1>{{ engine.name }}</h1>
<table>
    <tr>
        <th>Engine Type</th>
        <td>{{ engine.engine }}</td>
    </tr>
    <tr>
        <th>Fuel Type</th>
        <td>{{ engine.fuel }}</td>
    </tr>
    <tr>
        <th>Displacement</th>
        <td>{{ engine.displacement }} L</td>
    </tr>
    <tr>
        <th>Power</th>
        <td>{{ engine.power }} kW</td>
    </tr>
    <tr>
        <th>City Consumption</th>
        <td>{{ engine.kilometrageCity }} L/100 km</td>
    </tr>
    <tr>
        <th>Road Consumption</th>
        <td>{{ engine.kilometrageRoad }} L/100 km</td>
    </tr>
    <tr>
        <th>Manufacturer</th>
        <td><a href="{% url 'AplikaceUkol:manufacturer_detail' engine.manufacturer.pk %}">{{ engine.manufacturer.name }}</a></td>
    </tr>
</table>

<h2>Categories</h2>
<ul>
    {% for category in engine.categories.all %}
        <li><a href="{% url 'AplikaceUkol:category_detail' category.pk %}">{{ category.name }}</a></li>
    {% endfor %}
</ul>

<p><a href="{% url 'AplikaceUkol:index' %}">Back to Home</a></p>
{% endblock %}