{% extends "AplikaceUkol/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Auta: </h1>
    <ul>
        {% for car in cars %}
            <li><a href="/AplikaceUkol/cars/{{ car.pk }}">{{ car.name }}</a></li>
        {% endfor %}
    </ul>
<h1>Engines</h1>
<ul>
    {% for engine in engines %}
        <li><a href="{% url 'AplikaceUkol:engine_detail' engine.pk %}">{{ engine.name }}</a></li>
    {% endfor %}
</ul>

<h2 id="categories">Categories</h2>
<ul>
    {% for category in categories %}
        <li><a href="{% url 'AplikaceUkol:category_detail' category.pk %}">{{ category.name }}</a></li>
    {% endfor %}
</ul>

<h2 id="manufacturers">Manufacturers</h2>
<ul>
    {% for manufacturer in manufacturers %}
        <li><a href="{% url 'AplikaceUkol:manufacturer_detail' manufacturer.pk %}">{{ manufacturer.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}